/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling the body */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Container for the content */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Header */
  header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
  }
  
  /* Logo container */
  .logo-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .shop-name {
    font-size: 1.8em;
  }
  
  /* Navigation bar */
  nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #e8491d;
  }
  
  /* Form styling */
  .form-container {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    margin-bottom: 10px;
  }
  
  .form-container label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Button styling */
  button {
    background-color: #e8491d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #333;
  }
  
  /* Table styling */
  .table-container {
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tfoot {
    font-weight: bold;
  }
  
  /* Footer */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  
    .logo-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .shop-name {
      margin-top: 10px;
    }
  }
  